@model ModifyModel

@{
ViewData["Title"] = "ModifyPassword";
Layout = "_LendingLayout";
}

@section Scripts{
<script>
    $(document).ready(function() {
        var $btn = $("#showPas");
        var btn = $btn.get(0);
        $btn.click(function() {
            if (btn.checked) {
                $(".pass").attr("type", "");
            } else {
                $(".pass").attr("type", "password");
            }
        });
    })

</script>
}

<head>
    <link href="~/css/Library.css" rel="stylesheet" />
    <link href="~/css/Library.css" rel="stylesheet" />
</head>

<body>
    <div id="changepasswordbackground">
        <div id="changepassworddiv">
            <h2 style="position: relative;top:30px;left: 25px;">修改密码</h2>
            <br />
            <div class="text-danger" asp-validation-summary="All"></div>
            <form asp-action="ModifyPassword" method="post" id="changepassword">
                <div class="form-group">
                    <input asp-for="OriginalPassword" class="pass" id="oldpasswordinput" placeholder="原始密码" />
                </div>
                <div class="form-group">
                    <input asp-for="ModifiedPassword" id="modifiedPassword" class="pass" placeholder="新密码" />
                </div>
                <div class="form-group">
                    <input asp-for="ConfirmedPassword" id="confirmedPassword" onkeydown="" class="pass" placeholder="确认新密码" />
                </div>
                <div class="form-group">
                    <input type="checkbox"  id="showPas" />
                </div>
                <div id="buttongroup2">
                    <input class="btn btn-primary" type="submit" />
                    <input class="btn btn-success" type="reset" />
                </div>
            </form>
        </div>
    </div>
</body>
